html, body {
    height: 100%;
}

body {
    color: #4f4f4f;
    background: url("../img/background_ocean.jpg") no-repeat fixed 50% 50%;
    background-size: cover;
}

h2 {
    color: #3e3e3e;
}

#container {
    overflow: hidden;
    min-height: 100%;
    width: 700px;
    margin: 0 auto;
    padding: 10px 35px 20px 35px;
    background-color: #f8f8f8;
}

#avatar {
    height: 80px;
    width: 80px;
    background: url("../img/avatar.png") center center no-repeat;
    background-size: 55px;
    border-radius: 40px;
}

#about-header {
    margin-bottom: 30px;
    text-align: center;
}

#about-body {
    overflow: hidden;
    width: 250px;
    margin: 0 auto;
    margin-bottom: 50px;
}

#about-body #about-body-left {
    float: left;
    margin-right: 30px;
}

#about-body #about-body-right {
    float: left;
    padding-top: 10px;
}

#about-body #about-body-right #nickname {
    font-size: 25px;
}

#works-header {
    clear: both;
    margin-bottom: 30px;
    text-align: center;
}

#works-body .work {
    margin-bottom: 20px;
    clear: both;
    overflow: hidden;
}

#works-body .work .work-container-left {
    float: left;
    margin-right: 15px;
}

#works-body .work .work-container-right {
    margin-left: 135px;
}

#works-body .work-img img {
    height: 90px;
    width: 120px;
}

#works-body .work-name {
    font-size: 23px;
}

#works-body .work-link {
    margin-bottom: 7px;
}

#works-body .work-link a {
    color: #6176a9;
}

#works-body .work-date {
    font-size: 12px;
}

#works-body .work-date::after {
    content: " released";
}

#contact-header {
    margin: 50px 0 30px 0;
    text-align: center;
}

#contact-body {
    overflow: hidden;
    width: 360px;
    margin: 0 auto;
}

#contact-body .contact-icon {
    float: left;
    height: 60px;
    width: 60px;
    margin-right: 30px;
}

#contact-body .contact-icon.last {
    margin-right: 0;
}

#contact-body .contact-icon a {
    display: inline-block;
}

#contact-body .contact-icon object {
    height: 60px;
    width: 60px;
    pointer-events: none;
}
