
body {
    background-color: #204d74;
    color: #ffffff;
}

#container {
    width: 600px;
    margin: 0 auto;
}

#avatar {
    height: 80px;
    width: 80px;
    background-color: #ffffff;
    background: #ffffff url("../img/avatar.png") center center no-repeat;
    background-size: 55px;
    border-radius: 40px;
}

#about-header {
    margin-bottom: 30px;
    text-align: center;
}

#about-body {
    overflow: hidden;
    width: 250px;
    margin: 0 auto;
    margin-bottom: 50px;
}

#about-body #about-body-left {
    float: left;
    margin-right: 30px;
}

#about-body #about-body-right {
    float: left;
    padding-top: 10px;
}

#about-body #about-body-right #nickname {
    font-size: 25px;
}

#works-header {
    clear: both;
    margin-bottom: 30px;
    text-align: center;
}

#works-body .work {
    margin-bottom: 20px;
}

#works-body .work-name {
    font-size: 18px;
}

#works-body .work-link a {
    color: #d4d3ff;
}

#works-body .work-date {
    margin-left: 10px;
    font-size: 11px;
}

#contact-header {
    margin: 50px 0 30px 0;
    text-align: center;
}

#contact-body .contact-icon {
    float: left;
    height: 60px;
    width: 60px;
}

#contact-body .contact-icon.blog {
    background: url("../img/hatenablog.svg") center center no-repeat;
    background-size: 60px;
}

#contact-body .contact-icon.twitter {
    background: url("../img/twitter.svg") center center no-repeat;
    background-size: 60px;
}

#contact-body .contact-icon.github {
    background: url("../img/github.svg") center center no-repeat;
    background-size: 60px;
}

#contact-body .contact-icon.gmail {
    background: url("../img/mail.svg") center center no-repeat;
    background-size: 60px;
}
