html, body {
  height: 100%;
}

body {
  color: #4f4f4f;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  letter-spacing: 0.05em;
  color: #3e3e3e;
}

#container {
  overflow: hidden;
  min-height: 100%;
  padding: 10px 35px 20px 35px;
  background-color: #f8f8f8;
}

#avatar {
  height: 80px;
  width: 80px;
  background: url("../img/avatar.png") center center no-repeat;
  background-size: 55px;
  border-radius: 40px;
}

#about-header {
  margin-bottom: 30px;
}

#about-body {
  overflow: hidden;
  width: 250px;
  margin-bottom: 50px;

  #about-body-left {
    float: left;
    margin-right: 15px;
  }

  #about-body-right {
    float: left;
    padding-top: 10px;

    #nickname {
      font-size: 25px;
    }
  }
}

#works-header {
  clear: both;
  margin-bottom: 40px;
}

#works-body {
  .work {
    position: relative;
    margin-bottom: 30px;
    clear: both;
    overflow: hidden;

    .work-container-left {
      float: left;
      margin-right: 30px;
    }

    .work-container-right {
      margin-left: 160px;
    }
  }

  .work-img img {
    height: 120px;
    width: 160px;
  }

  .work-name {
    margin-bottom: 5px;
    font-size: 20px;
    line-height: 1;
  }

  .work-link {
    margin-bottom: 7px;

    a {
      color: #4788d8;
      font-size: 14px;
    }
  }

  .work-description {
    margin-bottom: 4px;
    font-size: 14px;
  }

  .work-stack span {
    margin-right: 2px;
    padding: 2px 6px;
    font-size: 12px;
    color: #656667;
    background-color: #e0e0e0;
  }

  .work-date {
    position: absolute;
    bottom: 0;
    left: 190px;
    font-size: 12px;
  }

  .work-date::after {
    content: " released";
  }
}

#contact-header {
  margin: 50px 0 30px 0;
}

#contact-body {
  overflow: hidden;

  .contact-icon {
    height: 60px;
    width: 60px;
    margin-right: 30px;
  }

  .contact-icon:last-child {
    margin-right: 0;
  }

  .contact-icon a {
    display: inline-block;
  }

  .contact-icon object {
    height: 60px;
    width: 60px;
    pointer-events: none;
  }
}
